body {
    background-color: black;
    color: white;
    font-family: "Allerta", sans-serif
}

/* player info area */

.player-info-area {
    text-align: center;
    font-size: 250%;
    font-family: "Allerta Stencil", sans-serif;
    margin-top: 6%;
}

/* Score Table */

.scoreTable {
    text-align: center;
    justify-content: center;
    margin: 5% auto;
    width: 50%;
    font-size: 200%;
}

.scoreTable, th, td {
    border: solid 3px white;
}

/* Card area */

.score-counter {
    text-align: center;
    font-size: 150%;
    margin: 20px 0px;
}

.card-row {
    justify-content: center;
    margin-bottom: 50px;
}

.card-area {
    display: flex;
    
    flex-wrap: wrap;
    height: 500px;
    max-width: 600px;
    justify-content: center;
}

.playing-card {
    width: 110px;
    height: 110px;
    border: solid 1px pink;
    position: relative;
    margin: 1%;
}

.playing-card img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
